# Python
__pycache__/
*.py[codz]
*$py.class
*.so
dist/
build/
*.egg-info/
.venv/
venv/
env/

# OS/Editor
.DS_Store
.vscode/
.idea/

# PyInstaller
*.spec

# iPA Edit Specific
.temp/
temp/
Signed/
Unsigned/
*.ipa
certificate/*.p12
certificate/*.mobileprovision
tweaks_extracted/
tweaks/*.dylib
tweaks/*.framework
!tweaks/.gitkeep
test.py